<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="C:/Users/Vicky/Documents/NaveenAPI/NaveenProject2">
        <classes>
            <class name="com.qa.contacts.BasicAuthTest">
                <methods>
                    <include name="m1"/>
                </methods>
            </class>
            <class name="com.qa.contacts.CreateUser">
                <methods>
                    <include name="m1"/>
                </methods>
            </class>
            <class name="com.qa.fakestore.GetProductsTest">
                <methods>
                    <include name="m1"/>
                </methods>
            </class>
            <class name="com.qa.gorest.CreateUser">
                <methods>
                    <include name="m1"/>
                    <include name="m2"/>
                </methods>
            </class>
            <class name="com.qa.gorest.GetUser">
                <methods>
                    <include name="m1"/>
                    <include name="m2"/>
                    <include name="m3"/>
                </methods>
            </class>
            <class name="com.qa.gorest.GetUserDeserelize">
                <methods>
                    <include name="m1"/>
                </methods>
            </class>
            <class name="com.qa.gorest.UpdateUser">
                <methods>
                    <include name="m1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>